<mat-form-field appearance="legacy" style="width:100%;">
  <mat-label>Search</mat-label>
  <input matInput placeholder="Search"
  #searchBox id="searchBox" (input)="onSearchChange(searchBox.value)">
  <mat-icon matSuffix>sentiment_very_satisfied</mat-icon>
</mat-form-field>

<mat-grid-list cols="4" rowHeight="500px">
    <div *ngIf="films">
      <mat-grid-tile *ngFor="let film of films">
        <mat-card class="example-card">
          <img mat-card-image [src]="film.id | toFirebaseImage">
          <mat-card-title>{{ film.title }}</mat-card-title>
          <mat-card-content>
            <p>
              {{ film.description | truncate : 100 }}
            </p>
          </mat-card-content>
          <mat-card-actions>
            <button mat-button [routerLink]="'/details/' + film.id">
              Details
            </button>
          </mat-card-actions>
        </mat-card>
      </mat-grid-tile>
    </div>
    <div *ngIf="!films" class="text-center">Fetching data....</div>
</mat-grid-list>